*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ccffcc;
}

#tablero{
    display: inline-block;
    margin: 3em;
    padding-top: 1.5em;
    padding-right: 1.5em;
    background-color: #1a0d00;
}

#numeros{
    float: left;
    display: flex;
    flex-direction: column;
}

#numeros span{
    width: 1.5em;
    line-height: 4.5em;
    text-align: center;
    color: #ff9933;
}

#letras{
    display: flex;
    margin-left: 1.5em;
}

#letras span{
    flex-basis: 4.5em;
    line-height: 1.5em;
    text-align: center;
    color: #ff9933;
}

#casillasTablero{
    border-collapse: collapse;
}

#casillasTablero td{
    width: 4.5em;
    height: 4.5em;
    border: none;
    background-size: 4.5em;
    background-repeat: no-repeat;
}

.blanco{
    background-color: #ffdf80;
}

.negro{
    background-color: #996633;
}

.movPosible{
    position: relative;
    left: 35%;
    box-sizing: border-box;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #57cbcb;
}

.reyAmenazado{
    background-color: #ff2424;
}

.piezaSeleccionada{
    background-color: #57cbcb;
}

.piezaResaltadaBorde{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#miModal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalContenido{
    position: relative;
    margin: auto;
    padding: 0;
    width: 22em;
    border: 1px solid #888;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modalCerrar{
    float: right;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
}

#modalCerrar:hover, #modalCerrar:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalHeader{
    padding: 0.5em 0.7em;
    color: white;
    background-color: #9c3030;
}

#modalBody{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.btnModal{
    box-sizing: content-box;
    width: 4.5em;
    height: 4.5em;
    border: 1px solid black;
    background-size: 4.5em;
    background-repeat: no-repeat;
}

.peonNegro{
    background-image: url("../img/peon_negro.svg");
}

.torreNegro{
    background-image: url("../img/torre_negro.svg");
}

.caballoNegro{
    background-image: url("../img/caballo_negro.svg");
}

.alfilNegro{
    background-image: url("../img/alfil_negro.svg");
}

.reinaNegro{
    background-image: url("../img/reina_negro.svg");
}

.reyNegro{
    background-image: url("../img/rey_negro.svg");
}

.peonBlanco{
    background-image: url("../img/peon_blanco.svg");
}

.torreBlanco{
    background-image: url("../img/torre_blanco.svg");
}

.caballoBlanco{
    background-image: url("../img/caballo_blanco.svg");
}

.alfilBlanco{
    background-image: url("../img/alfil_blanco.svg");
}

.reinaBlanco{
    background-image: url("../img/reina_blanco.svg");
}

.reyBlanco{
    background-image: url("../img/rey_blanco.svg");
}
