{% extends 'layout.html.twig' %}

{% block title %}
    Sala online
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('css/sala_online.css') }}">
    <script type="text/javascript" src="{{ asset('js/sala_online.js') }}"></script>
    <div class="contenidoPagina">
        <div id="contenedorChat">
            <h3>Chat</h3>
            <div id="divMensajes"></div>
            <textarea id="textAreaChat" name="textAreaChat"
                      placeholder="Escribe aquí tu mensaje"></textarea>
            <div>
                <button type="button" id="btnEnviarMensaje">Enviar</button>
            </div>
        </div>

        <div id="contenedorUsuarios">
            <h3>Usuarios</h3>
            <div id="divUsuarios"></div>
        </div>
    </div>
{% endblock %}
