#contenido {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tablero { /* Contiene las casillas, numeros, letras y boton de girar */
    float: left;
    margin-top: 3vh;
}

#casillasTablero {
    border-collapse: collapse;
}

#casillasTablero td {
    min-width: 11.5vh;
    height: 11.5vh;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
}

.blanco {
    background-color: #f7e8ba;
}

.negro {
    background-color: #cc9966;
}

.casillasMovAnterior.blanco {
    background-color: #d9efba;
}

.casillasMovAnterior.negro {
    background-color: #a0ab6d;
}

.reyAmenazado {
    background-color: #ff6666;
}

.piezaSeleccionada {
    background-color: #a2d8cc;
}

.movPosible {
    position: relative;
    left: 35%;
    box-sizing: border-box;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #a2d8cc;
}

.piezaResaltadaBorde {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#numeros {
    display: flex;
    flex-direction: column;
    float: left;
}

#numeros span {
    width: 3vh;
    line-height: 11.5vh;
}

#letras {
    display: flex;
    margin-left: 3vh;
}

#letras span {
    flex-basis: 11.5vh;
    line-height: 3vh;
}

#numeros span,
#letras span {
    color: white;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btnGirar {
    float: left;
    width: 3vh;
    height: 3vh;
    fill: white;
}

#btnGirar:hover {
    fill: #ffac80;
}

#miModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#modalContenido {
    position: relative;
    margin: auto;
    padding: 0;
    width: 24em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modalCerrar {
    float: right;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
}

#modalCerrar:hover,
#modalCerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalHeader {
    padding: 0.5em 0.7em;
    color: white;
    background-color: #9c3030;
}

#modalBody {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#modalBody div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btnModal {
    box-sizing: content-box;
    width: 4.5em;
    height: 4.5em;
    background-color: #e6e6e6;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btnModal:hover {
    background-color: #ffac80;
}

.btnModalBorde {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.btnModalBorde:hover {
    border: 2px solid black;
}

#modalBody p {
    margin-bottom: 0.6em;
}

.btnBodyModal {
    width: 11em;
    margin: 4px 2px;
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #428a42;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.btnBodyModal:hover {
    background-color: #326732;
}

#contenedorMov {
    display: inline-block;
}

#tablaMov {
    overflow-y: scroll;
    width: 17.4em;
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;
    background-color: #f2f2f2;
}

#tablaMov.enPartida {
    height: 91.7vh;
}

#tablaMov.enRepeticion {
    height: 84.7vh;
}

#tablaMov div {
    height: 2em;
}

#tablaMov div.filaMov:nth-child(even) {
    background-color: #e6e6e6;
}

#tablaMov div.filaMov:nth-child(odd) {
    background-color: #f2f2f2;
}

.filaMov div {
    display: inline-block;
}

.filaMov span {
    line-height: 2em;
}

.filaMov .divNumMov { /* El numero del turno */
    width: 1.5em;
    margin-left: 0.5em;
}

.filaMov .divMov { /* Los movimientos del turno */
    width: 4.2em;
    margin-left: 2em;
}

.divMov span {
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.filaResultado span {
    margin-left: 0.5em;
    line-height: 2em;
    font-weight: bold;
}

.spanMovRepeticion {
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    cursor: pointer;
}

#botonesMov.enPartida {
    display: none;
}

#botonesMov.enRepeticion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 17.4em;
    height: 7vh;
    margin-right: 3vh;
    margin-left: 3vh;
    background-color: #f2f2f2;
}

#botonesMov button {
    height: 70%;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: #e6e6e6;
    border: 1px solid black;
    border-radius: 4px;
}

#botonesMov button:hover {
    background-color: #ffac80;
}

#botonesMov button.enPartida {
    display: none;
}

#botonesMov button.enRepeticion {
    display: inline;
}

#botonesMov svg {
    box-sizing: border-box;
    width: 2em;
    fill: black;
}

#botonesMov svg.enPartida {
    display: none;
}

#botonesMov svg.enRepeticion {
    display: inline;
}

.movActualRep {
    background-color: #ffac80;
}

#contenedorPgn {
    display: inline-block;
}

#textAreaPgn {
    overflow-y: scroll;
    width: 17.4em;
    height: 84.7vh;
    resize: none;
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #e6e6e6;
}

#btnCargarPgn {
    width: 17.4em;
    height: 7vh;
    margin-right: 3vh;
    margin-left: 3vh;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #428a42;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

#contenedorChat {
    display: inline-block;
    float: left;
    width: 17.4em;
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;
}

#divMensajes {
    overflow-y: scroll;
    width: 100%;
}

#divMensajes {
    height: 70vh;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #f2f2f2;
}

.divMensaje:last-child {
    margin-bottom: 0.4em;
}

.msgAutor {
    font-weight: bold;
}

#textAreaChat {
    width: 100%;
    height: 9vh;
    resize: none;
    margin-top: 5px;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #f2f2f2;
}

#btnEnviarMensaje {
    width: 100%;
    height: 3.5vh;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #428a42;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

#btnEnviarMensaje:hover {
    background-color: #326732;
}

#btnCargarPgn:hover {
    background-color: #326732;
}

.nombreJugador {
    color: white;
    text-align: center;
}

.nombreJugador:last-child {
    margin-top: 1vh;
}

.suTurno {
    text-decoration: underline;
}

.peonBlanco {
    background-image: url("../svg/peon_blanco.svg");
}

.torreBlanco {
    background-image: url("../svg/torre_blanco.svg");
}

.caballoBlanco {
    background-image: url("../svg/caballo_blanco.svg");
}

.alfilBlanco {
    background-image: url("../svg/alfil_blanco.svg");
}

.damaBlanco {
    background-image: url("../svg/dama_blanco.svg");
}

.reyBlanco {
    background-image: url("../svg/rey_blanco.svg");
}

.peonNegro {
    background-image: url("../svg/peon_negro.svg");
}

.torreNegro {
    background-image: url("../svg/torre_negro.svg");
}

.caballoNegro {
    background-image: url("../svg/caballo_negro.svg");
}

.alfilNegro {
    background-image: url("../svg/alfil_negro.svg");
}

.damaNegro {
    background-image: url("../svg/dama_negro.svg");
}

.reyNegro {
    background-image: url("../svg/rey_negro.svg");
}