.contenidoPagina h3 {
    color: white;
}

#contenedorChat {
    display: inline-block;
    width: 18vw;
    min-width: 15em;
}

#divMensajes {
    overflow-y: scroll;
    width: 100%;
    height: 73vh;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #f2f2f2;
}

.divMensaje:last-child {
    margin-bottom: 0.4em;
}

.msgAutor {
    font-weight: bold;
}

#textAreaChat {
    overflow-y: scroll;
    width: 100%;
    height: 9vh;
    resize: none;
    margin-top: 5px;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #f2f2f2;
}

#btnEnviarMensaje {
    width: 100%;
    height: 3.5vh;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #428a42;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

#btnEnviarMensaje:hover {
    background-color: #326732;
}

#contenedorUsuarios {
    display: inline-block;
    width: 18vw;
    min-width: 15em;
    margin-left: 2vw;
}

#divUsuarios {
    overflow-y: scroll;
    width: 100%;
    height: 85.3vh;
    border: none;
    background-color: #f2f2f2;
}

#divUsuarios div.divUsuario:nth-child(even) {
    background-color: #e6e6e6;
}

.divUsuario {
    padding-left: 0.5em;
}

.divUsuario span {
    line-height: 2em;
}
