.contenidoPagina h3 {
    color: white;
}

#contenedorChat {
    display: inline-block;
    float: left;
    width: 18vw;
    min-width: 15em;
}

#divMensajes,
#textAreaChat,
#divUsuarios,
#divPartidas {
    overflow-y: scroll;
    width: 100%;
}

#divMensajes {
    height: 73vh;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #f2f2f2;
}

.divMensaje:last-child {
    margin-bottom: 0.4em;
}

.msgAutor {
    font-weight: bold;
}

#textAreaChat {
    height: 9vh;
    resize: none;
    margin-top: 5px;
    padding: 0.4em 0.5em;
    border: none;
    background-color: #f2f2f2;
}

#btnEnviarMensaje {
    width: 100%;
    height: 3.5vh;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #428a42;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

#btnEnviarMensaje:hover {
    background-color: #326732;
}

#contenedorUsuarios {
    display: inline-block;
    float: left;
    width: 18vw;
    min-width: 15em;
    margin-left: 2vw;
}

#divUsuarios {
    height: 85.3vh;
    border: none;
    background-color: #f2f2f2;
}

#divUsuarios div.divUsuario:nth-child(even) {
    background-color: #e6e6e6;
}

.divUsuario,
.divPartida,
.divInvitacion {
    padding-left: 0.5em;
}

.divUsuario span,
.divInvitacion span,
.divPartida span {
    line-height: 2em;
}

.usuariosInvitar {
    float: right;
    margin-right: 0.5em;
    cursor: pointer;
}

#contenedorInvPart {
    display: inline-block;
    height: 85.3vh;
}

#contenedorInvitaciones,
#contenedorPartidas{
    width: 22vw;
    min-width: 18em;
    margin-left: 2vw;
}

#divInvitaciones,
#divPartidas {
    height: 38vh;
    border: none;
    background-color: #f2f2f2;
}

#divInvitaciones div.divInvitacion:nth-child(even) {
    background-color: #e6e6e6;
}

.invitacionAceptar,
.invitacionRechazar,
.partidaJugar {
    float: right;
    margin-right: 0.5em;
    cursor: pointer;
}

.invitacionAceptar {
    margin-left: 0.5em;
}

#contenedorPartidas {
    margin-top: 4.8vh;
}

#divPartidas div.divPartida:nth-child(even) {
    background-color: #e6e6e6;
}
