.contenidoPagina {
    padding: 2em 1em 1em 14.5em;
    width: calc(100% - 13em);
}

h1 {
    color: white;
}

table {
    background-color: #f2f2f2;
}

thead {
    background-color: #e6e6e6;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

.nombre {
    width: 35%;
}

.nombre a {
    color: #007BFF;
}

.nombre a:hover {
    color: #0056B9;
}

.color {
    width: 10%;
}

.resultado {
    width: 15%;
}

.numMovimientos {
    width: 10%
}

.fecha{
    width: 15%;
}

a {
    color: white;
}

a:hover {
    color: #cccccc;
}