* {
    color: white;
}

.contenidoPagina {
    padding: 2em 1em 1em 14.5em;
    width: calc(100% - 13em);
}

.nombre {
    width: 40%;
}

.numPartidas {
    width: 20%;
}

.rol{
    width: 20%;
}

.fechaRegistro{
    width: 20%;
}
