* {
    color: white;
}

.contenidoPagina {
    padding: 2em 1em 1em 14.5em;
    width: calc(100% - 13em);
}

.nombre {
    width: 35%;
}

.color {
    width: 10%;
}

.resultado {
    width: 15%;
}

.fecha{
    width: 20%;
}

a {
    color: white;
}

a:hover {
    color: #cccccc;
}