h1 {
    color: white;
}

table {
    background-color: #f2f2f2;
}

thead {
    background-color: #e6e6e6;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

.nombre {
    width: 35%;
}

.numPartidas {
    width: 10%;
}

.btnVerHistorial {
    width: 10%;
}

.rol{
    width: 20%;
}

.fechaRegistro{
    width: 15%;
}

.btnEditar {
    width: 10%;
}