.contenidoPagina * {
    color: white;
}

.nombre {
    width: 35%;
}

.numPartidas {
    width: 10%;
}

.btnVerHistorial {
    width: 10%;
}

.rol{
    width: 20%;
}

.fechaRegistro{
    width: 15%;
}

.btnEditar {
    width: 10%;
}